/* * {
    outline: 1px solid tomato;
} */

.header {
    background: #fff;
    line-height: 90px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 0;
}

.header .header_inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .header_inner .gnb>ul {
    display: flex;
    gap: 90px;
}

.header .header_inner .gnb>ul a {

    font-size: 16px;
    font-weight: 600;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li .sub {
    position: absolute;
    left: 50%;
    top: 70px;
    z-index: 1;

    transition: 0.5s;
    height: 0;
    overflow: hidden;

    background: #fff;
    line-height: 40px;

    transform: translate(-50%, 0);
}

.header .gnb>ul>li a {
    display: block;
}

.header .gnb:hover>ul>li .sub {
    height: 200px;
}

.header .gnb>ul>li .sub a {
    padding: 0 24px;
    font-size: 14px;
    font-weight: 400;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;

    transition: 0.5s;
    height: 0;
}

.header .gnb:hover::before {
    height: 200px;
}

.header .header_inner .util {}

.header .header_inner .util i {
    font-size: 24px;
}

.mainVisual {
    position: relative;
}

.mainVisual .visual_slide .itm {
    position: relative;
    width: 100%;
    height: 700px;
    vertical-align: middle;
}

.mainVisual .visual_slide .itm01 {
    background: url(../images/web_banner001.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm02 {
    background: url(../images/web_banner002.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm03 {
    background: url(../images/web_banner003.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm04 {
    background: url(../images/web_banner004.jpg) no-repeat center center/cover;
}